.CNProductFormDiv {
  border: 1px solid #ddd;
  background: #f1f1f1;
  padding: 15px;
  border-radius: 5px;
  margin: 15px;
}
.CNFieldset {
  border: none;
}
.CNProductName{
  font-size: 24px;
  line-height: 26px;
}
.CNProductPrice {
  font-size: 18px;
  line-height: 20px;
  color: green;
  font-weight: bold;
}
.CNProductPrice span {
  font-size: 12px;
  color: #666;
  font-weight: none;
}
.CNOptionsHeader {
  margin: 10px 0 3px 0;
  font-size: 15px;
  line-height: 16px;
}
.CNFieldset label {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: block;
  margin: 0 0 5px 0;
}
.CNDropdown, .CNRadio, .CNCheckbox, .CNTextarea, .CNText {
  margin: 0 0 15px 0;
  padding: 0 0 15px 15px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}
.CNDropdown select{
  margin: 0 0 0 15px;
  border: 1px solid #ddd;
  padding: 3px;
  font-size: 15px;
  width: 80%;
}
.CNRadio input[type="radio"] {
  margin: 0 0 0 25px;
}
.CNText input[type="text"] {
  border: 1px solid #ddd;
  padding: 5px;
  font-size: 16px;
  border-radius: 2px;
  width: 90%;
}
.CNCheckbox label{
  display: inline;
}
.CNTextarea textarea {
  padding: 5px;
  font-size: 16px;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 2px;
  width: 90%;
  min-height: 125px;
}
.CNAddToCart {
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #5B7F27;
  background: #83B735;
  color: #fff;
  width: 70%;
  margin: 0 auto;
  display: block;
  border-radius: 6px;
  margin-top: 10px;
}
.CNTooltip {
  font-size: 11px;
  margin: 0 0 0 5px;
  padding: 0;
  color: #666;
  font-weight: normal;
}
.CNAddToCart:hover {
  cursor: pointer;
  background: #95CF40;
}
.CNQuantity {
  display: inline;
  margin: 0 15px 0 0;
  float: right;
}
.CNQuantity label {
  font-size: 12px;
  margin: 0 5px 0 0;
  display: inline;
}
.CNQuantity input[type="text"] {
  width: 25px;
  display: inline;
}
.CNProductDetails {
  display: block;
  clear: both;
  margin: 0 0 10px 0;
}
.CNFormRight {
  width: 50%;
  float: right;
  margin: 0 0 15px 15px;
}
.CNFormLeft {
  width: 50%;
  float: left;
  margin: 0 15px 15px 0;
}
.CNContentLeft {
  float: left;
  width: 40%;
}
.CNContentRight {
  float: right;
  width: 40%;
}
.CNRadioOption {
  display: block;
  float: left;
}
